* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background: #fbf9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: #fff;
    padding: 30px;
    width: 320px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input-group input:focus {
    border-color: #667eea;
}

button {
    width: 100%;
    padding: 10px;
    background: #030303;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background: #3e3e3f;
}

.signup {
    text-align: center;
    margin-top: 15px;
    font-size: 14px;
}

.signup a {
    color: #fa0606;
    text-decoration: none;
}

.signup a:hover {
    text-decoration: underline;
}


.forgotpassword{
    text-align: center;
    text-decoration: none;
   

}
